/* 
  Description: print styles
*/
@use "sass:meta";
@use "base/setup";
@use "base/reset";
@use "base/helpers";
@use "base/mixins";
@use "components/sprites";

/* fonts */
@font-face {
    font-family: 'od_reg';
    src: url('font/opendyslexic3-regular-webfont.eot');
    src: url('font/opendyslexic3-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/opendyslexic3-regular-webfont.woff2') format('woff2'),
        url('font/opendyslexic3-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'od_bold';
    src: url('font/opendyslexic3-bold-webfont.eot');
    src: url('font/opendyslexic3-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/opendyslexic3-bold-webfont.woff2') format('woff2'),
        url('font/opendyslexic3-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'atk_reg';
    src: url('font/atkinson-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'atk_bold';
    src: url('font/atkinson-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    // Remove duration for all unknown animation when a user requests a reduced animation experience 
    //it's more fluid than animation: none
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}

/* global styles */
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

html, body {
    @include mixins.mq($until: portrait){
        width: 100%;
        overflow-x: hidden;
    }
}

body {
    margin: 0;
    font-size: 100%;
    font-family: atk_reg, arial, sans-serif;
    font-weight: normal;
    color: var(--main-color);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    background: #fafafa;

    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    line-height: 2.2rem;
}

.skip_links {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    a {
        &:focus {
            width: auto;
            height: auto;
            clip: auto;
            overflow: visible;
            z-index: 99;
            color: #fff;
            font-size: 1.6rem;
        }
        &:focus-visible {
            outline: 2px solid var(--light-color);
        }
    }
}

.page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    max-width: 102.4rem;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--site-color);
    transition: .2s;

    &.link_full_block {
        &:before {
            content:'';
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            background: url("../img/global/link.png") 0 0 repeat;
        }
    }

    &:focus-visible {
        outline: 2px solid var(--site-color);
    }
}

pre {
    font-size: 1.6rem;
}

code {
    font-family: monospace;
}

blockquote, q {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-size: 1.8rem;
    line-height: 1.55;
    margin-bottom: 2rem;
}

:lang(fr) > blockquote,
:lang(fr) > q {
    quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}

:lang(en) > blockquote,
:lang(en) > q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before,
q:before {
    content: open-quote;
}

blockquote:after,
q:after {
    content: close-quote;
}

button:not(.display_menu) {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    transition:color .2s, background-color .2s;
}

strong, b {
    font-family: atk_bold, arial, sans-serif;
    
    .dyslexia & {
        font-family: od_bold, arial, sans-serif;
    }
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4 {
    line-height: 1.5;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin: 1.6rem 0;

    &.center {
        margin: 0;
        padding: 2rem 0 8rem;
        color: var(--secondary-color);
        font-family: atk_reg, arial, sans-serif;
        font-size: 5rem;
    }
}

h3 {
    font-size: 2.2rem;
    font-family: atk_bold, arial, sans-serif;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-family: atk_reg,helvetica,sans-serif;
}

main {
    flex: 1 0 auto;

    p, li {
        font-size: 1.6rem;
    }

    p {
        margin-bottom: 2rem;
    }
    
    li {
        list-style: disc outside;
        margin: 0 0 .5rem 2rem;
    }
}

::-moz-selection { 
    background: var(--site-color); 
    color: #fff; 
}
::selection { 
    background: var(--site-color); 
    color: #fff; 
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #131A1C;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #131A1C;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #131A1C;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #131A1C;
}

.display {
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    animation: display_item 1s  1;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    transform: translateY(-30px);

    @keyframes display_item {
        0%   { 
            opacity: 0;
            transform: translateY(-30px);
        }
        100% { 
            opacity: 1; 
            transform: translateY(5px);
        }
    }
}

.hidden_small {
    @include mixins.mq($until: landscape) {
        display: none;
    }
}

.center_content {
    position: relative;
    max-width: 124rem;
    margin: 0 auto;
    @include mixins.mq($until: landscape) {
        padding: 0 2rem;
    }
}

.center {
    text-align: center;
}

.intro a, [download], 
[role="button"], input[type="submit"] {
    min-width: 13rem;
    box-sizing: border-box;
    padding: 1.8rem 2rem;
    background: var(--light-color);
    border-radius: .2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--site-color);
    font-family: atk_bold, arial, sans-serif;
    font-size: 1.6rem;
    transition: .2s;

    &:focus, &:active, &:hover {
        background: var(--site-color);
        color: var(--light-color);
        box-shadow: 0 0 1px 2px var(--light-color);
    }
}

[download] {
    &:focus, &:active, &:hover {
        box-shadow: none;
    }
}

body, a, button, p, li, .btn, h1, h2, h3, h4, header a:not(.logo) {
    .dyslexia & {
        font-family: od_reg, arial, sans-serif;
        line-height: 1.5;
    }
}

.top_page {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    opacity: 0;
    transition: opacity .2s;

    &.visible {
        opacity: 1;
    }

    @include mixins.mq($from: wide) {
        right: 10rem;
        bottom: 13rem;
    }
    
    &:focus, &:active, &:hover {
        &:after {
            width: 0;
        }
    }

    &:focus-visible {
        box-shadow: 0 0 1px 2px var(--light-color), 0 0 1px 4px var(--site-color);
    }
}
/* end global styles */

.not_found {
    display: block;
    width: 100%;
    height: auto;
}

@include meta.load-css("patterns/header");
@include meta.load-css("patterns/breadcrumb");
@include meta.load-css("patterns/footer");

#cookie-consent-bar {
    background: rgba(231, 231, 231, 0.9);
    display: block;
    left: 0;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    font-size: 1.6rem;
    
    .contrast & {
        color: var(--main-color);
        background: #eee;
    }
    

    p {
        position: relative;
        max-width: 124rem;
        margin: 0 auto 1rem;
        line-height: 1.55;

        @include mixins.mq($until: landscape) {
            padding: 0 2rem;
        }
    }
    
    button {
        margin-right: 2rem;
    }
    
    .sb-enable, .sb-disable {
        box-sizing: border-box;
        padding: .5rem 1rem;
        background: var(--light-color);
        border-radius: .2rem;
        text-align: center;
        color: var(--site-color);
        font-family: atk_bold, arial, sans-serif;
        font-size: 1.6rem;
        transition: .2s;
    }
    
    .sb-disable {
        background: var(--site-color);
        color: var(--light-color);
    }
    
    .sb-policy {
        display: inline-block;
        .contrast & {
            color: var(--main-color);
        }

        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            height: 1px;
            width: 100%;
            background: var(--main-color);
            transition: width .2s;
        }

        &:focus, &:active, &:hover{
            color: var(--main-color);
        
            &:after {
                width: 0;
                background: var(--main-color);
            }
        }
    }

    a, button {
        &:focus-visible {
            outline: 2px solid var(--site-color);
        }
    }
}