<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | escape }} - {{ site.title[page.lang] | escape }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
    <meta content="website" property="og:type">
    <meta content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}" property="og:title">
    <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}" property="og:description">
    <meta content="https://lena-chandelier.me" property="og:url">
    <meta content="Lena Chandelier" property="og:site_name">
    <meta content="https://lena-chandelier.me/assets/img/home/header_medium.jpg" property="og:image">
    
    <meta content="summary" name="twitter:card">
    <meta content="https://lena-chandelier.me" name="twitter:url">
    <meta content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}" name="twitter:title">
    <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}" name="twitter:description">
    <meta content="https://lena-chandelier.me/assets/img/home/header_medium.jpg" name="twitter:image">

    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/print.min.css" | prepend: site.baseurl }}" media="print">
    <link rel="canonical" href="{{ https://lena-chandelier.me | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
  

    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
    {% endif %}

    <link type="text/plain" rel="author" href="{{ site.baseurl }}/humans.txt" />
    <link type="text/plain" rel="author" href="{{ site.baseurl }}/robots.txt" />
</head>