@use "../base/mixins";
@use "../base/setup";
@use "../components/sprites";

footer {
    background: var(--dark-bg);
    padding: 16px 20px;
    color: #a1bfcf;
    font-size: 1.6rem;
    
    @include mixins.respond-to(landscape) {
        padding: 26px 20px 56px;
    }
    
    @include mixins.respond-to(large) {
        padding: 26px 20px 56px;
    }

    .wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        
        @include mixins.respond-to(mobile_to_landscape) {
            display: block;
        }
    }
    
    li {
        display: inline-block;
        vertical-align: top;
        
        @include mixins.respond-to(mobile_to_landscape) {
            margin: 3rem 0 0;
        }
    }
    
    a {
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.6rem;
        transition: color .2s, background-color .2s;

        &:after {
            content: '';
            display: block;
            margin: 3px auto 0;
            height: 1px;
            width: 0;
            background: transparent;
            transition: width .2s, background-color .2s;
        }

        &:focus, &:active, &:hover {
            color: var(--light-color);

            &:after {
                width: 100%;
                background: var(--light-color);
            }
        }
        
        &:focus-visible {
            outline: 2px solid var(--light-color);
        }
    }
    
    li:not(:first-child) {
        margin-left: 20px;
    }

    .top {
        fill: var(--light-color);
        box-shadow: 0 0 0 2px var(--secondary-color);

    }
}