@use "../base/mixins";

footer {
    background: var(--dark-bg);
    padding: 1.6rem 2rem;
    color: var(--input-color);
    font-size: 1.6rem;
    
    @include mixins.mq($from: landscape, $until: wide) {
        padding: 2.6rem 2rem 5.6rem;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include mixins.mq($until: landscape) {
            display: block;
        }
    }
    
    li {
        display: inline-block;
        vertical-align: top;
        
        @include mixins.mq($until: landscape) {
            margin: 3rem 0 0;
        }
    }
    
    a {
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.6rem;
        transition: color .2s, background-color .2s;

        &:after {
            content: '';
            display: block;
            margin: 0.3rem auto 0;
            height: 0.1rem;
            width: 0;
            background: transparent;
            transition: width .2s, background-color .2s;
        }

        &:focus, &:active, &:hover {
            color: var(--light-color);

            &:after {
                width: 100%;
                background: var(--light-color);
            }
        }
        
        &:focus-visible {
            outline: 2px solid var(--light-color);
        }
    }
    
    li:not(:last-child) {
        margin-right: 2rem;
    }

    .top_page {
        background: var(--dark-bg);
        padding: 0.5rem 0.8rem 0.2rem;
    }

    .top {
        fill: var(--light-color);
    }
}