@use "../base/mixins";

.form_comment {
    background: var(--secondary-color);
    padding: 1.6rem 2rem;
    color: var(--input-color);
    font-size: 1.6rem;

    p {
        color: #fff;
    }
    
    .wrapper {
        max-width: 64rem;
    }

    h2 {
        color: var(--light-color);
    }

    legend {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

.container_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    @include mixins.mq($until: landscape) {
        display: block;
    }
}

.field {
    width: 48%;

    @include mixins.mq($until: landscape) {
        width: 100%;
    }
}

label {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: atk_reg, arial, sans-serif;
}

input {
    display: block;
    border: 0;
    margin: 1rem 0;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid var(--input-color);
    font-family: atk_reg, arial, sans-serif;
    font-size: 1.6rem;
    color: #fff;

    &[type="text"], &[type="email"] {
        min-height: 4rem;
        width: 100%;
        padding: 0.3rem 1rem;
    }

    &[type="submit"] {
        margin: 4rem auto;
        width: auto;
        cursor: pointer;

        &:focus, &:active, &:hover {
            background: #fff;
            color: var(--main-color);
        }

        &:focus-visible {
            outline: 2px solid var(--light-color);
        }
    }
}

.custom_select {
	margin: 1rem 0;
	
    div {
        display: block;
        position: relative;
        min-width: 30.5rem;
        min-height: 4rem;
        overflow-x: hidden;
        border: 1px solid var(--input-color);
        
        @include mixins.mq($until: landscape) {
            width: 100%;
            min-width: auto;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 1.5rem;
            right: 1.2rem;
            pointer-events: none;
            background: url(../img/global/arrow-down.svg) no-repeat;
            width: 2rem;
            height: 1.2rem;
        }
        
        select {
            position: absolute;
            left: 0.1rem;
            top: 0.3rem;
            width: 99.5%;
            border: 0;
            background: transparent;
            box-sizing: border-box;
            padding: 0.5rem 0.8rem 0.5rem;
            font-family: atk_reg, arial, sans-serif;
            font-size: 1.6rem;
			line-height: 1.5;
            color: #fff;
            cursor: pointer;
            -webkit-appearance: none;
            
            &::-ms-expand {
                display: none;
            }

            option {
                padding-left: 0;
				color: var(--main-color);
            }
        }
    }
}


textarea {
    width: 100%;
    padding: 0.3rem 1rem;

    @extend input;
    resize: vertical;
}

input, textarea, select {
    &:focus-visible {
        outline: 2px solid var(--light-color);
    }
}