.form_comment {
    background: #1a4860;
    padding: 16px 20px;
    color: #a1bfcf;
    font-size: 1.6rem;

    p {
        color: #fff;
    }
    
    .wrapper {
        max-width: 640px;
    }

    h2 {
        color: $light_color;
    }

    legend {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

.container_field {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    
    @include respond-to(mobile_to_landscape) {
        display: block;
    }
}

.field {
    width: 48%;

    @include respond-to(mobile_to_landscape) {
        width: 100%;
    }
}

label {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: lato_reg, arial, sans-serif;
}

input {
    display: block;
    border: 0;
    margin: 10px 0;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #a1bfcf;
    font-family: lato_reg, arial, sans-serif;
    font-size: 1.6rem;
    color: #fff;

    &[type="text"], &[type="email"] {
        min-height: 40px;
        width: 100%;
        padding: 3px 10px;
    }

    &[type="submit"] {
        margin: 40px auto;
        width: auto;
        cursor: pointer;

        &:focus, &:active, &:hover {
            background: #fff;
            color: $main_color;
        }

        &:focus-visible {
            outline: 2px solid $light_color;
        }
    }
}

.custom_select {
	margin: 10px 0;
	
    div {
        display: block;
        position: relative;
        min-width: 305px;
        min-height: 40px;
        overflow-x: hidden;
        border: 1px solid #a1bfcf;
        
        @include respond-to(mobile_to_landscape) {
            width: 100%;
            min-width: auto;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 15px;
            right: 12px;
            pointer-events: none;
            background: url(../img/global/arrow-down.svg) no-repeat;
            width: 20px;
            height: 12px;
        }
        
        select {
            position: absolute;
            left: 1px;
            top: 3px;
            width: 99.5%;
            border: 0;
            background: transparent;
            box-sizing: border-box;
            padding: 5px 8px 5px;
            font-family: lato_reg, arial, sans-serif;
            font-size: 1.6rem;
			line-height: 1.5;
            color: #fff;
            cursor: pointer;
            -moz-appearance: none;
            -webkit-appearance: none;
            
            &::-ms-expand {
                display: none;
            }

            option {
                padding-left: 0;
				color: $main_color;
            }
        }
    }
}


textarea {
    width: 100%;
    padding: 3px 10px;

    @extend input;
    resize: vertical;
}

input, textarea, select {
    &:focus-visible {
        outline: 2px solid $light_color;
    }
}