@use "../base/mixins";

header {
    font-size: 1.8rem;
    background: var(--dark-bg);
    padding: 2rem;
    
    .wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
        
        &:nth-child(2) {
            margin-left: 0;
        }
    }
    
    .a11y_tools {
        
        li {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
    
    .lang {
        li {
            padding-right: 1rem;
        }
    } 
    
    :lang(en) .en, :lang(fr) .fr{
        text-transform: uppercase;
        font-family: atk_bold, arial, sans-serif;
    
        .dyslexia & {
            font-family: od_bold, arial, sans-serif;
        }
    }

    .right_items {
        max-width: 70%;
    }

    a, button {
        &:focus-visible {
            outline: 2px solid var(--light-color);
        }
    }
    
    a:not(.logo), button:not(.display_menu):not(.display_tools) {
        color: #fff;
        font-size: 1.4rem;
        font-family: atk_reg, arial, sans-serif;
        line-height: 1.6rem;
        
        &[id^="text"] {
            text-transform:uppercase;
        }

        &:after {
            content: '';
            display: block;
            margin: 0.3rem auto 0;
            height: 0.1rem;
            width: 0;
            background: #fff;
            transition: width .2s, background-color .2s;
        }

        &:focus, &:active, &:hover {
            color: var(--light-color);
        
            &:after {
                width: 100%;
                background: var(--light-color);
            }
        }
      
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 20rem;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 99;
    text-align: center;
    background: var(--site-color);
    border: 1px solid #fff;
    
    @include mixins.mq($until: portrait) {
        left: auto;
        right: 0;
        transform: none;
    }
}

.a11y_tools {
    position: relative;
    
    ul {
        @extend .submenu;
       
        @include mixins.mq($until: portrait) {
            left: 50%;
            right: auto;
            transform: translateX(-50%);
        }
    }
    
    a, button {
        color: #fff;
    }

    svg {
        fill: var(--light-color);
    }
} 

.logo {
    margin-right: 2rem;
}

//menu

.main_menu {
    position: relative;
    
    li {
        display: block;
        margin-bottom: 1.5rem;
    }
}

.display_menu {
    position: relative;
    width: 4rem;
    height: 4rem;
    border: 0;
    background: transparent;
    transition: .2s;

    .caret {
        display: block;
        position: absolute;
        left: 50%;
        top: 2rem;
        margin: 0 0 0 -1.5rem;
        cursor: pointer;
        height: 0.3rem;
        width: 3rem;
        background: var(--light-color);
        transition: .2s;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -1.5rem;
            cursor: pointer;
            height: 0.3rem;
            width: 3rem;
            background: var(--light-color);
            transition: .3s;
        }

        &:before {
            top: 0.8rem;
        }
        &:after {
            bottom: 0.8rem;
        }
    }

    &.active {
        span {
            background-color: transparent;

            &:before, &:after {
                top: 0;
            }
            &:before {
                transform: translate3d(0,0,0);
                transform: rotate(45deg);
            }
            &:after {
                transform: translate3d(0,0,0);
                transform: rotate(-45deg);
            }
        }
    }
}