@use "sass:map";
@use "setup";

// Media queries
@mixin respond-to($media) {
  // mobile max 415
  @if $media == mobile {
    @media screen and (min-width:0) and (max-width: var(--break-small)) { @content; }
  }
  // 416 to 768
  @else if $media == portrait {
    @media screen and (min-width: var(--break-small) + 1) and (max-width: var(--break-medium) - 1) { @content; }
  }
  // 769 to 1023
  @else if $media == landscape {
    @media screen and (min-width: var(--break-medium)) and (max-width: var(--break-large) - 1) { @content; }
  }
  @else if $media == mobile_to_landscape {
    @media screen and (max-width: var(--break-medium) - 1) { @content; }
  }
  @else if $media == mobile_to_large {
    @media screen and (max-width: var(--break-large) - 1) { @content; }
  }
  // 1024 to 1279
  @else if $media == large {
    @media screen and (min-width: var(--break-large)) and (max-width: var(--break-wide) - 1) { @content; }
  }
  // 1280 to infini
  @else if $media == wide {
    @media screen and (min-width: var(--break-wide)) { @content; }
  }
}
// Animation mixin

@mixin fadeAppear($delay) {

    transform: translateZ(0);
    transform: translate3d(0,0,0);
    perspective: 1000px; 
    backface-visibility: hidden;

    animation: show_project 1s  1;
    animation-fill-mode: forwards;
    animation-delay: #{$delay}s;


    @keyframes show_project {
        0%   { 
          opacity: 0;
          transform: translateZ(-20px);
        }
        100% { 
          opacity: 1; 
          transform: translateZ(0);
        }
    }
}