/*
  Description: project's variables
*/
:root {
  --light-color: #4bc4b1;
  --main-color: #5f5f5f; 
  --secondary-color: #1a4860;
  --site-color: #1B4751; //ancien bleu clair
  --high-contrast-color: #AFDED6;
  --dark-bg: #173d51;
  --input-color: #a1bfcf;
}