.a11y {
  width: 50px;
  height: 50px;
}

.github {
  width: 33px;
  height: 33px;
}

.linkedin {
  width: 33px;
  height: 33px;
}

.masto {
  width: 34px;
  height: 34px;
}

.plus {
  width: 45px;
  height: 47.4px;
}

.top {
  width: 50px;
  height: 50px;
}

.twitter {
  width: 33px;
  height: 33px;
}

